#header {
	margin: 1% auto;
	padding: 50px;
	width: 60%;
	color: #ffffff;
	text-align: center;
	font-size: 150%;
	font-family: 'Cabin', sans-serif;
	border: 1px solid  #8d4343;
	border-radius: 10px;
	box-shadow: 10px 10px 100px #8d4343;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.dropdown {
  padding: 45px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e7a977;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #e7a974;
}
.form .message {
  margin: 15px 0 2;
  color: #7a7979;
  font-size: 12px;
}
.form .message a {
  color: #e7a977;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.nutritionLabel {
  font-size: 90%;
  margin-bottom: 1.1em;
  padding: .68em;
  color:  #000;
  font-family: Arial,Helvetica,sans-serif;
  border: 2px solid #000;
  line-height: normal;
}

.nutritionLabel .title {
  line-height: .83em;
  font-size: 2.7em;
  padding-bottom: 4px;
  font-family: 'Archivo Black';
  white-space: nowrap;
  letter-spacing: -2px;
}
.nutritionLabel .name {
  font-size: 1.1em;
  line-height: 1.3em;
}
.nutritionLabel .bar1 {
  height: 10px;
  line-height: 0;
  font-size: 1px;
  background: #000;
  margin-top: 3px;
}
.nutritionLabel .line {
  border-top: 1px solid #000;
  padding: 1px 0;
}
.nutritionLabel .bar2 {
  height: 5px;
  line-height: 0;
  font-size: 1px;
  background: #000;
}
.nutritionLabel .dvCalorieDiet {
  color: rgb(29, 28, 28);
  font-size: .9em;
}
.nutritionLabel .calorieNote {
  padding: .6em 0 0 .7em;
}

.image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

/* Create three equal columns that floats next to each other */
/* Create three equal columns that floats next to each other */
#left {
  width: 200px;
  float: left;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
#right {
  margin-left: 200px;
  float: left;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}
body {
  /*background: #76b852; /*fallback for old browsers 
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
 /* background-color: #ebbe9b;
  background: -webkit-linear-gradient(right,#ebbe9b,  #e7a977);
  background: -moz-linear-gradient(right, #ebbe9b, #e7a977);
  background: -o-linear-gradient(right, #ebbe9b, #e7a977);
  background: linear-gradient(to left, #ebbe9b, #e7a977);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/

background-color: #ebbe9b;
background-image: linear-gradient(to left, #ebbe9b 0%, #e7a977 100%);
}